#root{
  height:100%;
}

.ant-layout,.ant-layout-content{
  height: auto;
}


a{
  text-decoration: none !important;
}

html,body{
  font-size:14px;
  background-color: white;
  font-family:$font-family;
}

html{
  height: 100%;
}

body{
  box-sizing: border-box;
  min-height: 100vh;
}