.section-home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.auth-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  .auth-card{
    padding: 1em;
    
  }
  .auth-logo{
    text-align: center;
    img{
      margin:auto;
      margin-bottom: 1em;
      width: 150px;
    }
  }
}