.ant-btn-primary {
  color: #fff;
  background: $primary-color !important;
  border-color: $primary-color !important;
  text-shadow: 0 -1px 0 rgba($primary-color, 0.12) !important;
  -webkit-box-shadow: 0 2px 0 rgba($primary-color, 0.045) !important;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}