.fm-rounded{
  border-radius: 20px;
  border-color:#bcbcbc;
}


input,textarea,.ant-select-selector {
  border-radius:4px;
  &:focus{
    box-shadow: none !important;
  }
}

.ant-picker-cell .ant-picker-cell-inner{
  text-align: center;
}