.table{
  margin-bottom:0px;
  th{
    color:$black;
    background:transparent;
    border:unset !important;
    font-weight: 500;
    font-size: font('14px');
    padding: 12px 15px;line-height: 1.4;
  }
  thead{
    tr{
      border-bottom:3px solid #bcbcbc;
      border-bottom-style: double;
    }
  }
  tr{
    border-bottom:1px solid #bcbcbc;
  }
  td{
   font-size: font('14px');
   vertical-align: middle; 
   padding: 12px 15px;
   line-height: 1.4;
  }
}